 <div class="container">
     <table class="table">
         <thead>
             <th>account holder name</th>
             <th>account number</th>
             <th>ifs code</th>
             <th>mobile number</th>
            
         </thead>
         <tr *ngFor="let value of viewpayment">
             <td>{{value.name}}</td>
             <td>{{value.ac}}</td>
             <td>{{value.ifsc}}</td>
             <td>{{value.mobile}}</td>
         </tr>

     </table>

 </div>
