<form class="form-group" #ref="ngForm" (ngSubmit)="add(ref.value)">
    <h3 class="text-center">REGISTRATION FORM</h3>
    <div>
        <label class="form-check-label">Full Name</label>
        <input class="form-control" type="text" name="name" placeholder="enter full name" [(ngModel)]=editprofiles.name>
    </div>
    <div>
        <label class="form-check-label">DOB</label>
        <input class="form-control" type="date" name="dob" [(ngModel)]=editprofiles.dob>
    </div>
    <div>
        <label class="form-check-label">Address</label>
        <textarea class="md-textarea form-control" rows="3" placeholder="enter address" name="address"
            [(ngModel)]=editprofiles.address></textarea></div>
    <div>
        <label class="form-check-label">E-Mail</label>
        <input class="form-control" type="text" placeholder="enter e-mail" name="email" [(ngModel)]=editprofiles.email>
    </div>
    <div>
        <label class="form-check-label">Mobile</label>
        <input class="form-control" type="number" placeholder="enter mobile no" name="mobile"
            [(ngModel)]=editprofiles.mobile>
    </div>


    <button type="submit" class="btn btn-primary btn-center mt-3"> EDIT</button>

</form>