<div class="row">

    <div class="col-3">
        <form class="form-group">
            <h4>Owner Dashboard</h4>

            <a class="form-control float-left" routerLink="/owner/profile">Profile</a>
            <a class="form-control float-left" routerLink="/owner/addhouse">Add House</a>
            <a class="form-control float-left" routerLink="/owner/tolet">Tolet</a>
            <a class="form-control float-left" routerLink="/owner/client">View Client</a>

            <a class="form-control float-left" routerLink="/owner/payment">Payment</a>
            <button type="submit" class="form-control float-left btn-success" (click)="logout()">Logout</button>

        </form>
    </div>



    <div class="col-5">
        <router-outlet></router-outlet>
    </div>
</div>