<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

</body>

</html>
<html>

<head>
  <style>
    .content {
      background-image: url('https://warnerwave.com/image/2364-full_starry-night-wallpapers-74-background-pictures.jpg');
      background-size: 100% 100%;
      background-position: relative;
    }

    body,
    html {
      height: 100%;
      font-family: Arial, Helvetica, sans-serif;
    }

    .box {
      box-sizing: border-box;
      background: transparent;
      top: 50%;
    }

    /* Add styles to the form container */
    .div {
      position: absolute;
      right: 0;
      margin: 20px;
      max-width: 300px;
      padding: 16px;
      background-color: white;
    }
  </style>
</head>

<body>

  <div class="content">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">

        <div class="container">
          <div class="box">
            <h3 class=" text-center text-white ">Login Form for Admin</h3>
            <form #ref="ngForm" (ngSubmit)="submit(ref.value)">

              <div class="form-group">
                <label for="loginname" class="text-white">UserName</label>
                <input type="text" name="name" class="form-control" ngModel id="loginname"
                  placeholder="enter your login name" #ref1="ngModel">
                <label *ngIf='ref1.invalid && ref1.touched' class="text-danger">* this field is mandatory</label>
              </div>
              <div class="form-group">
                <label for="loginpassword" class="text-white">Password</label>
                <input type="password" name="password" class="form-control" ngModel #ref2='ngModel' id="loginpassword"
                  placeholder="enter your password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                  required>
                <label *ngIf='ref2.invalid && ref2.touched' class="text-danger">* this field is mandatory</label>
              </div>

              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>

            </form>
            <button type="submit" class="btn btn-warning" (click)="back()">HOME--</button>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
  </div>

  <script>
    var myInput = document.getElementById("psw");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function () {
      document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function () {
      document.getElementById("message").style.display = "none";
    }

    // When the user starts to type something inside the password field
    myInput.onkeyup = function () {
      // Validate lowercase letters
      var lowerCaseLetters = /[a-z]/g;
      if (myInput.value.match(lowerCaseLetters)) {
        letter.classList.remove("invalid");
        letter.classList.add("valid");
      } else {
        letter.classList.remove("valid");
        letter.classList.add("invalid");
      }

      // Validate capital letters
      var upperCaseLetters = /[A-Z]/g;
      if (myInput.value.match(upperCaseLetters)) {
        capital.classList.remove("invalid");
        capital.classList.add("valid");
      } else {
        capital.classList.remove("valid");
        capital.classList.add("invalid");
      }

      // Validate numbers
      var numbers = /[0-9]/g;
      if (myInput.value.match(numbers)) {
        number.classList.remove("invalid");
        number.classList.add("valid");
      } else {
        number.classList.remove("valid");
        number.classList.add("invalid");
      }

      // Validate length
      if (myInput.value.length >= 8) {
        length.classList.remove("invalid");
        length.classList.add("valid");
      } else {
        length.classList.remove("valid");
        length.classList.add("invalid");
      }
    }
  </script>
</body>

</html>