<a class="form-control" routerLink="/owner/addpayment">addpayment method</a>
<a class="form-control" routerLink="/owner/viewpayment"> viewpayment method</a>
<a class="form-control" routerLink="/owner/paymenthistory"> paymenthistory</a>