<div class="container-fluid   ">

  <h3 class="text-center mb-3 text-light ">Login form </h3>
  <div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 ">
        <form class="form-group" #ref="ngForm" (ngSubmit)="submit(ref.value)">
          <div> <label class="form-check-label text-light " for="username">Enter Name</label>
            <input class="form-control" type="text" name="name" id="username" ngModel #ref1='ngModel' required>
            <label *ngIf='ref1.invalid && ref1.touched' class="text-danger">* this field is mandatory</label>
          </div>
          <div>
            <label class="form-check- label text-light " for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" ngModel #ref3="ngModel" required>
            <label *ngIf='ref3.invalid  && ref3.touched' class="text-danger">* this field is mandatory</label>
          </div>
          <div class="form-check">
            <label class="form-check-label text-light  " for="owner">
              <input class="form-check-input" id="owner" type="radio" value="owner" name="user" ngModel>
              Owner</label>
          </div>
          <div class="form-check">
            <label class="form-check-label text-light" for="vendor">
              <input class="form-check-input" id="vendor" type="radio" value="vendor" name="user" ngModel>
              Vendor</label>
          </div>

          <button type="submit" class="btn btn-warning">Login</button>

        </form>
        <div><a class="text-primary" routerLink="/home/forgetpassword">forgot password?</a></div>
        <div><a class="text-light" routerLink="/home/register"><u>click to register</u></a>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>