<div>
     <table class="table" *ngFor="let value of ownerprofile">

          <tr>
               <td>Fullname </td>
               <td>{{value.name}}</td>
          </tr>
          <tr>
               <td>DOB </td>
               <td>{{value.dob}}</td>
          </tr>
          <tr>
               <td>Address </td>
               <td>{{value.address}}</td>
          </tr>
          <tr>
               <td>E-Mail </td>
               <td>{{value.email}}</td>
          </tr>
          <tr>
               <td>Mobile </td>
               <td>{{value.mobile}}</td>
          </tr>



     </table>
</div>