<div class="container-fluid">
    <table class="table table-responsive">
        <thead class="bg-dark text-white">
            <th>House Type</th>
            <th>Rent</th>
            <th>Address</th>
            <th>Rental Agreement</th>
        </thead>
        <tr *ngFor="let value of houses ">
            <td>{{value.Htype}}</td>
            <td>{{value.rent}}</td>

            <td>{{value.address}}</td>
            <td>{{value.ragreement}}</td>
            <td><button type="submit" class="btn btn-danger" (click)="delete(value.rent)">Delete</button></td>
        </tr>

    </table>

</div>