<form #ref="ngForm" (ngSubmit)="add(ref.value)">
    <div>
        <label class="form-check-label">House Type</label>
        <input class="form-control" type="text" name="Htype" ngModel>
    </div>
    <div>
        <label class="form-check-label">OwnerName</label>
        <input class="form-control" type="text" name="ownername" ngModel>
    </div>
    <div>
        <label class="form-check-label">Rent</label>
        <input class="form-control" type="number" name="rent" ngModel>
    </div>

    <div>
        <label class="form-check-label">Address</label>
        <textarea class="form-control" cols="10" rows="10" name="address" ngModel></textarea>
    </div>
    <div>
        <label class="form-check-label">RentalAgreement</label>
        <textarea class="form-control" cols="10" rows="10" name="ragreement" ngModel></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add House</button>
</form>