<div>
  <marquee behavior="alternate" direction="left-right">
    <h1 class="text-center mt-5 text-warning">WELCOME AMIGOS</h1>
  </marquee>


  <div id="demo" class="carousel slide d-block mx-auto" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img width="100%" height="400px"
          src="https://www.hanover.org.uk/media/1406/rent-with-han-carousel1.jpg?anchor=center&mode=crop&quality=75&width=1200&height=550&rnd=131945408730000000"
          alt="Los Angeles">
      </div>
      <div class="carousel-item">
        <img style="width:100%;height:400px"
          src="https://smedia2.intoday.in/btmt/images/stories/home-loan_660_020117053409_030917101300.jpg"
          alt="Chicago">
      </div>
      <div class="carousel-item">
        <img width="100%" height="400px"
          src="https://image.cnbcfm.com/api/v1/image/100391705-young-couple-in-front-home-gettyp-2048.jpg?v=1532564725&w=1400&h=950"
          alt="New York">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
  <div>
    <button class="btn btn-success   mt-3" data-toggle="collapse" data-target="#d" type="submit">Getstarted</button>
    <div class=" collapse row" id="d">

      <p class="mt-3 col-6 text-white"> This portal is a webpage where house owners, clients, customers can exchange
        information effectively and inexpensively.<br />
        Provides user-friendly interface, satisfying the needs of the consumers. Employs a new strategy that facilitates
        easy management of rental houses</p>

      <img width="100%" height="300px" class="float-right col-6"
        src="https://i1.wp.com/compass101.com/propertymanagement/wp-content/uploads/sites/3/2017/10/2.png?w=1080&ssl=1"
        alt="">

    </div>
  </div>


</div>