<div>
    <table class="table">
        <thead>
            <th>ownername</th>
            <th>address</th>
            <th>amount</th>
            <th>date</th>

        </thead>
        <tr *ngFor="let value of vendorpayments">
            <td>{{value.name}}</td>
            <td>{{value.address}}</td>
            <td>{{value.amount}}</td>
            <td>{{value.date}}</td>
            <td><button type="submit" class="btn btn-danger" (click)="delete(value.rent)">Delete</button></td>


        </tr>
    </table>
</div>