<head>
  <style>
    .ul li a:hover {
      color: aliceblue;
      background-color: black
    }


    .container-fluid {
      /* The image used */
      background-image: url(" https://ak8.picdn.net/shutterstock/videos/24467948/thumb/1.jpg");

      min-height: 380px;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      min-height: 100%;

    }

    .ul li:hover {
      color: aliceblue;
      background-color: black;
    }
  </style>
</head>

<body>
  <div class="container-fluid bg-img">


    <!--nav brand-->

    <nav class="navbar navbar-expand-md  ">
      <img style="width: 50px;height: 50px;" class="nav-brand width:10px"
        src="https://www.thedesignlove.com/wp-content/uploads/2016/09/home-logo-15.jpg" alt=""><label
        class="text-light">
        <h5> House Rental Management System</h5>
      </label>



      <!--toggler button for responsiveness-->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#c">
        <span class="navbar-toggler-icon"></span>
      </button>



      <div class="collapse navbar-collapse  justify-content-end " id="c">

        <ul class=" navbar-nav  ">
          <li class="nav-item"><a routerLink="carausel" class="nav-link bg- text-light mr-3">HOME</a></li>
          <li class="nav-item"><a routerLink="admin" class="nav-link bg-dark text-light mr-3">ADMIN</a></li>

          <li class="nav-item"><a routerLink="login" class="nav-link bg-dark text-light">LOGIN</a></li>

        </ul>
      </div>
    </nav>


    <router-outlet></router-outlet>


  </div>



</body>