<h3 class="text-center">paymentmethod</h3>
<div>
    <form class="form-group" #ref2="ngForm" (ngSubmit)="pay(ref2.value)">
        <div>
            <label class="form-check-label">account number</label>
            <input class="form-control" type="text" name="ac" ngModel>
        </div>
        <div>
            <label class="form-check-label">account holder name</label>
            <input class="form-control" type="text" name="name" ngModel>
        </div>
        <div>
            <label class="form-check-label">IFS code</label>
            <input class="form-control" type="text" name="ifsc" ngModel>
        </div>
        <div>
            <label class="form-check-label">mobile number</label>
            <input class="form-control" type="number" name="mobile" ngModel>
        </div>
        <div>
            <button type="submit" class="btn btn-secondary text-center mt-3"> add</button>
        </div>
    </form>
</div>