<!DOCTYPE html>
<html>

<head>
  <style>
    body,
    html {
      height: 100%;
      font-family: Arial, Helvetica, sans-serif;
    }

    * {
      box-sizing: border-box;

    }

    .bg-img {
      /* The image used */
      background-image: url(" https://wallpapercave.com/wp/wp2581365.jpg");

      min-height: 380px;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    /* Add styles to the form container */
    .container {
      position: absolute;
      right: 0;
      margin: 20px;
      max-width: 300px;
      padding: 16px;
      background-color: white;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }

    input[type=text]:focus,
    input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    /* Set a style for the submit button */
    .btn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }

    .btn:hover {
      opacity: 1;
    }
  </style>
</head>

<body>
  <div class="container-fluid bg-img">

    <div class="row">
      <div class="col-4"></div>

      <form class="form " #reg="ngForm" (ngSubmit)="method(reg.value)">
        <h3 class="text-center text-white">REGISTRATION FORM</h3>
        <div class="form-group">
          <label class="form-check-label text-white" for="fullName">Full Name</label>*
          <input class="form-control" type="text" id="fullName" name="name" placeholder="enter full name" ngModel
            #ref1='ngModel' required>
          <label *ngIf='ref1.invalid && ref1.touched' class="text-danger">* this field is mandatory</label>
        </div>
        <div class="form-group">
          <label class="form-check-label text-white" for="DOB">DOB</label>
          <input class="form-control" id="DOB" type="date" name="dob" ngModel>
        </div>
        <div class="form-group">
          <label class="form-check-label text-white" for="address">Address</label>
          <textarea class="md-textarea form-control" id="ADDRESS" rows="3" placeholder="enter address" name="address"
            ngModel></textarea></div>
        <div class="form-group">
          <label class="form-check-label text-white" for="email">E-Mail</label>
          <input class="form-control" type="text" id="email" placeholder="enter e-mail" name="email" ngModel>
        </div>
        <div class="form-group">
          <label class="form-check-label text-white" for="tel-No">Mobile</label>
          <input class="form-control" type="tel" pattern="[0-9]{10}" id="tel-No" placeholder="enter mobile no"
            name="mobile" ngModel #ref2="ngModel" minlength='10' maxlength='10'>
          <label *ngIf='ref2.invalid && ref2.touched' class="text-danger">* this field must contain 10 digits</label>
        </div>
        <div class="form-group">
          <label class="form-check-label text-white" for="password">Password</label>
          <input class="form-control" type="password" id="password" placeholder="enter password" name="password" ngModel
            #ref3="ngModel">
          <label *ngIf='ref3.invalid  && ref3.touched' class="text-danger">* this field must contain minimum 5
            characters</label>
        </div>
        <label class="text-white">Select type of User</label>*
        <div><label *ngIf='ref4.invalid' class="text-danger">* this field is mandatory</label></div>
        <div class="form-check">
          <label class="form-check-label text-white" for="owner">

            <input class="form-check-input" id="owner" type="radio" value="owner" name="x" ngModel #ref4="ngModel"
              required>
            Owner</label>
        </div>
        <div class="form-check">
          <label class="form-check-label text-white" for="vendor">
            <input class="form-check-input" id="vendor" type="radio" value="vendor" name="x" ngModel #ref4="ngModel"
              required>
            Vendor</label>
        </div>

        <button type="submit" class="btn btn-primary btn-center mt-3"> REGISTER</button>

      </form>

      <div class="col-4">

      </div>
    </div>

  </div>

</body>

</html>